<header>
  <div class="border-black border-2 border-bottom">
    <nav class="container-lg py-4">
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <a
            href="#"
            class="text-black text-decoration-none reset d-flex justify-content-center align-items-center me-5"
          >
            <div class="logo-img me-3" style="width: 53px; height: 53px"></div>
            <span class="fs-3 fw-bold me-1">7TAO</span>
            <span class="fs-6 fw-bold">活動訂票網</span>
          </a>
          <div class="input-group" style="width: 335px; height: 55px">
            <input
              type="text"
              class="form-control rounded-0 border-black border-2"
              placeholder="探索活動"
            />
            <i
              style="width: 55px"
              class="d-flex justify-content-center align-items-center rounded-0 border-black border-2 border-start-0 bg-black bi bi-search text-yellow-light"
            ></i>
          </div>
        </div>
        <ul class="list-unstyled d-flex align-items-center mb-0">
          <li class="fw-normal me-3 english cursor-pointer">
            <i class="bi bi-journal-text"></i>
            REGISTER
          </li>
          <li class="fw-normal english cursor-pointer">
            <i class="bi bi-person-fill"></i>
            LOGIN
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
