<div class="row gx-3 mb-5 flex-nowrap">
  <% const menuItemContent = ['演出','聯誼','展覽','美食','戶外']; for(let i= 0;
  i < 5; i++ ) { %>
  <div class="col">
    <div
      class="d-flex flex-column align-items-center border border-dark border-2 cursor-pointer"
      style="padding: 35px 58px"
    >
      <img
        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate0<%= i+=1 %>.svg"
        alt=""
        style="width: 80px; height: auto"
        class="mb-3"
      />
      <p class="reset fw-semibold text-center fs-4">
        <%= menuItemContent[--i] %>
      </p>
    </div>
  </div>
  <% } %>
  <div class="col">
    <div
      class="d-flex flex-column align-items-center border border-dark border-2 cursor-pointer bg-black h-100"
      style="padding: 35px 58px"
    >
      <p
        class="fw-semibold text-center fs-1 text-yellow-light mb-0"
        style="width: 80px; height: auto"
      >
        探索更多
      </p>
    </div>
  </div>
</div>
